/*Centrar productos para agregar al carrito de compras*/
.centrar-productos{
    width: auto;
    text-align: center;
}

/*Tamaño de los productos*/
.productos-carrito{
    width: 5em;
    height: 5em;
}

/*Tamaño de la letra de los productos de la tienda*/
.card-title-propio{
    font-size: auto;
}